aiohttp
aiofiles
ffmpeg-python
gTTS
dnspython==2.4.1
httpx==0.24.1
httpcore==0.17.3
future
motor
pillow
psutil
pykeyboard
pyrogram
python-arq
requests
search-engine-parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
telegraph
pytube
pytz
